* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* 
  Try lang HAHAHA
  ============================
  Styles for the Main Menu
  ============================ 
  This is for the styling of the main menu.

  Usage: Acting as a navbar

  Author: Alex
  Date: August 6, 2025
  */

.menu-container {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #5995da; /* Blue */
  padding: 20px 0;
}

.menu {
  /* border: 1px solid #fff; */
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.social,
.subscribe {
  align-self: flex-end;
  margin: 0 0 20px 0;
  /* margin-bottom: 20px */
}

/* ============================
  Styles for the Main Header
  ============================ */

.header-container {
  color: #5995da;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Images CSS  */

/* Container ng photo grid, or Flex container*/
.photo-grid-container {
  display: flex;
  justify-content: center;
  background-color: #5995da;
  /* outline: 5px solid blue; */
}
/* Container ng mga image. 
    Flex container nested
*/
.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  /* outline: 5px solid red; */
}

/* Ito yung item or yung pictures ay nandito. 
    AKA Flex items
*/
.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
  /* outline: 5px solid green; */
}

/* Changing order, swapped first item and the last item.  */
.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

/* Footer CSS */
.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 5px solid #3700ff;
  background-color: #d6e9fe;
  height: 200px;
  flex: 1;
}

/* .footer-three {
  flex: 2;
} */

.footer-one,
.footer-three {
  background-color: #5995da;
  flex: initial;
  width: 300px;
}

/* Auto-margins in flexbox are special. 
They can be used as an alternative to an extra <div> when trying to align a group of items to the left/right of a container. 
Think of auto-margins as a “divider” for flex items in the same container.*/
.signup {
  /* margin: 0 0 0 auto; */
}
/* Same lang ng epekto HAHA */
.date {
  margin-right: auto;
}
/* Auto-margins eat up all the extra space in a flex container,
 so instead of distributing items equally,
  this moves the .signup and any following items (.login) to the right side of the container.  */

/* 
  =======
  Summary
  =======
Flexbox gave us a ton of amazing new tools for laying out a web page. 
Compare these techniques to what we were able to do with floats, and it should be pretty clear that flexbox is a cleaner option for laying out modern websites:

  Use display: flex; to create a flex container.
  Use justify-content to define the horizontal alignment of items.
  Use align-items to define the vertical alignment of items.
  Use flex-direction if you need columns instead of rows.
  Use the row-reverse or column-reverse values to flip item order.
  Use order to customize the order of individual elements.
  Use align-self to vertically align individual items.
  Use flex to create flexible boxes that can stretch and shrink.
  Remember that these flexbox properties are just a language that lets you tell browsers how to arrange a bunch of HTML elements. 
  The hard part isn’t actually writing the HTML and CSS code, it’s figuring out, conceptually (on a piece of paper), the behavior of all the necessary boxes to create a given layout.

When a designer hands you a mockup to implement, your first task is to draw a bunch of boxes on it and determine how they’re supposed to stack, stretch, and shrink to achieve the desired design. 
Once you’ve got that done, it should be pretty easy to code it up using these new flexbox techniques.

The flexbox layout mode should be used for most of your web pages, but there are some things it’s not-so-good at, 
like gently tweaking element positions and preventing them from interacting with the rest of the page. 
After covering these kinds of advanced positioning techniques in the next chapter, you’ll be an HTML and CSS positioning expert.
  
  
  */
